
body{
    background-color: #FEF8EB
}

a{
    color:black;
    text-decoration: underline;
}
/* About me page */
#headname{
    padding-top: 30;
    font-family: "amandine", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-align: center;
    align-items: center;
 
}

#navbar {
   align-items: center;
   text-align: center;
    line-height: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    }

.nav-item a{
    font-family: "futura-pt", sans-serif;
font-weight: 400;
font-style: normal;
    color: black;
    text-decoration: none;
}

.nav-item {margin: auto;}

#container {
    display: flex;
    padding-top: 150;
    padding-left: 200;
    padding-right: 200;
    gap: 20px; /* Space between text and image */
    flex-direction:row;
    font-size: 1.6em;
}


.briefbio {font-family: "futura-pt", sans-serif;
    width: 100%;
    padding-top: 100;
    font-weight: 400;
    font-style: italic;
    font-size: .7em;
align-items: center;}

.linkedin {
    color: black; 
    font-family: "futura-pt", sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 0.9em;
    text-decoration: underline;
   }

img {
    width: 30%; /* Adjust image size */
    height: auto;
}

#mymusic{
    align-items: center;
    text-align: center;
     font-family: "amandine", sans-serif;
     font-weight: 100;
     font-style: normal;
     font-size: .9em;
 }
 .playlists {
     display: flex;
     flex-direction: row;
     justify-content: center; /* Centers items horizontally */
     align-items: center; /* Centers items vertically */
     gap: 10px;
     width: 50%; /* This might not be enough to center it—see below. Used AI for this div class to center my items */
     margin: auto; }

.AItext{
    font-family:"futura-pt", sans-serif;
    text-align: center;
    align-items: center;
    font-weight: 50;
    font-style: italic;
    font-size: .7em;

}
     
/* How To Page  */
#headingandsub {padding-left: 30;}

.storyheading
{ 
    padding-top: 30px;
    display:flex;
    flex-direction: column;
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    }

    .storysub{
    font-family:"futura-pt", sans-serif;
    font-size: 1.1em
}

#storybodytext{
    padding-bottom:20px;
    padding-left: 30px;
    padding-right: 30px;
    font-family:"futura-pt", sans-serif
    
}
.knightlab{
    text-decoration:underline
}


/* Projects and Experience Page */
#thecircle{
    padding-left: 20;
}
.circlehead{
    width: 100%;
    padding-top: 20;
    font-family: "amandine", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
}

.circletext{
    font-family: "futura-pt", sans-serif;
    font-size: 1.9em;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px
}

#LiveNation{
    padding-left: 20px;
    padding-top: 30;
}

.lnhead{
    width: 100%;
    padding-top: 20;
    font-family: "amandine", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
}
.livenationphoto{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 30;
    gap: 60px;
    padding-bottom: 30;
}

.livenationphoto{
    font-family: "futura-pt", sans-serif;
    font-size: 1.9em;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px
}

#blackboard{
    padding-left: 20;
    padding-top: 30;
}
    .blackboardhead{
    color:black; 
    width: 100%;
    padding-top: 20;
    font-family: "amandine", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
}


 .bbphotos{
    width: 100%;
    padding-top: 30;
    display: flex;
    gap: 60px;
    flex-direction: column
}

.winterspringtext{
    font-family: "futura-pt", sans-serif;
    font-size: 1.9em;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px
    
}
.blackaftext{
    padding-bottom: 30;
    font-family: "futura-pt", sans-serif;
    font-size: 1.9em;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px  
}

#AOprod{
    padding-left: 20;
    padding-top: 30;
    padding-bottom: 20;
}
.AOhead{
    width: 100%;
    padding-top: 30;
    font-family: "amandine", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
}

.aophotos {
    width: 100%;
    padding-top: 30;
    display: flex;
    gap: 60px;
    flex-direction: column
}
.djA{
    font-family: "futura-pt", sans-serif;
    font-size: 1.9em;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px
}

.zacfox{
    font-family: "futura-pt", sans-serif;
    font-size: 1.9em;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px
}

/* my media query to make sure that my content is oriented for portrait as well as desktop*/
@media (orientation: portrait) {
    body {
        padding-left: 5%;
        padding-right: 5%;
        width:100%;
        background-color:#F6E9DF} /* changes the background color when in portrait mode. I used this to check that my media query was working */
    #content{
        width:100%
    }
}
